In [1]:
import pandas as pd

users = pd.read_csv("notify_users.csv")
users.head()

,user_id,name,email,password_hash,created_at
0,U0001,Autumn Garner,uwallace@jackson.net,$2b$12$zbtpy92SXnMxuhqCXzCRbuV6xk0eMa8Puf0oWUq...,2024-02-06
1,U0002,Alex Nelson,zdelgado@white-thompson.org,$2b$12$RzEPecKvSmzjYSQUFnbHr.EdBghil6rrJikCk6b...,2024-03-14
2,U0003,Betty Bishop,srobinson@dixon-thompson.info,$2b$12$0hC.By9zqQ3K64iSO3jpre1Ls2wY7vf09uOTQfb...,2025-01-03
3,U0004,John Brown,halldavid@yahoo.com,$2b$12$VVr.niASUMgQCBMzSQjcNejW/RcdgkNFWqY09gj...,2024-05-06
4,U0005,Mary Daniel,paullara@hodge.com,$2b$12$mZ4TIvXt5GMYXF5imJW9zuHXk2F1BMuWtA.XD79...,2024-01-17

In [ ]:
#Basic Summary

users.info()
users.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        100 non-null    object
 1   name           100 non-null    object
 2   email          100 non-null    object
 3   password_hash  100 non-null    object
 4   created_at     100 non-null    object
dtypes: object(5)
memory usage: 4.0+ KB

,user_id,name,email,password_hash,created_at
count,100,100,100,100,100
unique,100,100,100,100,94
top,U0001,Autumn Garner,uwallace@jackson.net,$2b$12$zbtpy92SXnMxuhqCXzCRbuV6xk0eMa8Puf0oWUq...,2024-02-16
freq,1,1,1,1,2

In [ ]:
#Check if duplicate ids present
users = users.drop_duplicates(subset="user_id")

In [4]:
users = users.dropna(subset=["user_id", "email", "password_hash"])